// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
body.dark {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-card-background: #1e1e1e;
  }
  