<ion-content class="ion-padding">
  <h2>Enter New Trip</h2>

  <ion-item>
    <ion-label position="floating">Distance (km)</ion-label>
    <ion-input type="number" [(ngModel)]="distance"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="getCurrentLocation()">Use Current Location</ion-button>
  <ion-button expand="block" (click)="submitTrip()">Submit Trip</ion-button>

  <div *ngIf="co2Emitted !== null" class="ion-padding">
    <h3>Estimated Emissions:</h3>
    <p><strong>{{ co2Emitted }} kg CO₂</strong></p>
  </div>
</ion-content>
